<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="sesoc.global.redocean.dao.BloodDao">
	<!-- bdcard 리스트 -->
	<select id="selectBdlist" parameterType="string" resultType="bdcard">
		SELECT
			bdcardnum
			, consituent
			, btype
			, bdbar_num
			, bdbirth
			, gender
			, name
			, to_char(bddate, 'yyyy.mm.dd') bddate
			, bdcenter
			, email
			, status
			, bloodvolume
			, toemail
		FROM bdcard
		WHERE email = #{email}
		<!-- AND toemail IS NULL 널만 체크해서 가져옴/아니면 남에게 준거니 검색되면 안됨 -->
		ORDER BY bddate DESC

	</select>
	
	
	<!-- bacard 리스트2 (사용가능한 헌혈증 리스트) -->
   <select id="selectBdlist2" parameterType="string" resultType="bdcard">
      SELECT
         bdcardnum
         , consituent
         , btype
         , bdbar_num
         , bdbirth
         , gender
         , name
         , to_char(bddate, 'yyyy.mm.dd') bddate
         , bdcenter
         , email
         , status
         , bloodvolume
         , toemail
      FROM bdcard
      WHERE email = #{email} and toemail is null AND status = 1
      <!-- AND toemail IS NULL 널만 체크해서 가져옴/아니면 남에게 준거니 검색되면 안됨 -->
      ORDER BY bddate DESC
	</select>
	
	<!-- bdcard 리스트중 하나만 따옴 -->
	<select id="select" parameterType="string" resultType="bdcard">
		SELECT
			bdcardnum
			, consituent
			, btype
			, bdbar_num
			, bdbirth
			, gender
			, name
			, to_char(bddate, 'yyyy.mm.dd') bddate
			, bdcenter
			, email
			, status
			, bloodvolume
			, toemail
		FROM bdcard
		WHERE bdbar_num = #{num}
	</select>
	<!-- 성분헌혈 -->
	<select id="alamsung" parameterType="string" resultType="string">
		select max(to_char(ROUND((bddate+14)-sysdate))) bddate
		FROM bdcard
		WHERE email = #{email} AND consituent = '성분헌혈'
		order by bddate asc
	</select>
	<!-- 전혈 -->
	<select id="alamjeon" parameterType="string" resultType="string">
		select max(to_char(ROUND((bddate+60)-sysdate))) bddate
		FROM bdcard
		WHERE email = #{email} AND consituent = '전혈'
		order by bddate asc
	</select>

	<update id="donate" parameterType="map">
      update bdcard set
            status = '2'
            , toemail = #{toEmail}
            , boardnum = #{boardnum}
         where
           bdbar_num= #{bdbar_num}      
   </update>

	<!-- bdcard 리스트 -->
	<select id="recivedlist" parameterType="string" resultType="bdcard">
		SELECT
			bdcardnum
			, consituent
			, btype
			, bdbar_num
			, bdbirth
			, gender
			, name
			, to_char(bddate, 'yyyy.mm.dd') bddate
			, bdcenter
			, email
			, status
			, bloodvolume
			, toemail
		FROM bdcard
		WHERE toemail = #{toemail}
		ORDER BY bddate DESC

	</select>
	
	<!-- 헌혈증 등록하기 -->
	<update id="register" parameterType="map">
      UPDATE bdcard SET status = '1', email = #{email}
      WHERE
      bdbar_num = #{bdnum}
   	</update>
	
	<select id="selectBoardnum" parameterType="string" resultType="string">
      SELECT DISTINCT boardnum
      FROM bdcard
      WHERE email = #{email}
      AND boardnum is not null
   </select>
   
   <update id="plus" parameterType="string" >
		UPDATE mainboard
		SET
		blood_present = blood_present+1
		WHERE boardnum = #{boardnum}
	</update>
	
	<select id="selectpresent" resultType="int" parameterType="int">
		SELECT blood_present
		FROM mainboard
		WHERE boardnum = #{boardnum}
	</select>

</mapper>
