@CHARSET "UTF-8";
table.cordLine {
	/* 	border: 1px solid red; */
	/* 	border-radius: 10px; */
	border-collapse: collapse;
	border: none;
	margin: 5px;
}

td.cordLineTd1 {
	background-color: #4d7fbd !important;
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	width: 10px !important;
}

td.cordLineTd2 {
/* 	border: 1px solid #4d7fbd; */
/* 	background-color: #ffff99; */
	background-color: white ;
	border-bottom-right-radius: 20px !important;
 	padding-left: 5px !important;
	font-family:'Lato' !important;
	font-weight:bold !important;
	font-size:12pt !important;
	color: black;
	width: auto !important;
}

div.CLdiv {
}