<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="sesoc.global.redocean.vo.Bdcard" alias="bdcard"/>
		<typeAlias type="sesoc.global.redocean.vo.Mainboard"    alias="mainboard"/>
		<typeAlias type="sesoc.global.redocean.vo.Member"    alias="member"/>
		<typeAlias type="sesoc.global.redocean.vo.Reply"    alias="reply"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/bloodMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
	</mappers>
</configuration>