<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Huminity HTML Template | Causes List View</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--Add Theme Color File To Change Template Color Scheme / Color Scheme Files are Located in root/css/color-themes/ folder-->
<!--<link href="css/color-themes/orange-theme.css" rel="stylesheet">-->

<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-type-one">
    
    	<!--Header Top-->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="clearfix">
                    <div class="top-left">
                        <ul class="clearfix">
                        	<li><span class="icon fa fa-phone"></span> (880) 172 380 956</li>
                        	<li><span class="icon fa fa-envelope"></span> huminityus@gmail.com</li>
                            <li><span class="icon fa fa-clock-o"></span> Mon-Sat:  8:00am-6:30pm</li>
                            <li class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"> EN <span class="icon fa fa-caret-down"></span></a>
                                <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Arabic</a></li>
                                    <li><a href="#">Hindi</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="top-right clearfix">
                    	<ul class="social-icon-one">
                        	<li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="icon fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="icon fa fa-pinterest-p"></span></a></li>
                        </ul>
                    	<!--Cart Box-->
                        <a href="shop.html" class="cart-box"><span class="icon flaticon-shopping-bag"></span> (0)</a>
                    </div>
                </div>
            </div>
        </div>
    
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-outer">
                    	<div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>
                    
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Homepage One</a></li>
                                            <li><a href="index-2.html">Homepage Two</a></li>
                                            <li class="dropdown"><a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">About</a>
                                    	<ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li class="dropdown"><a href="#">Events</a>
                                            	<ul>
                                                    <li><a href="events-grid.html">Events Grid View</a></li>
                                                    <li><a href="events-list.html">Events List View</a></li>
                                                    <li><a href="events-single.html">Event Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                        </ul>
                                    </li>
                                    <li class="current dropdown"><a href="#">Causes</a>
                                    	<ul>
                                            <li><a href="causes-grid.html">Causes Grid View</a></li>
                                            <li><a href="causes-list.html">Causes List View</a></li>
                                            <li><a href="causes-single.html">Cause Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Our Blog</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                        
                        <!-- Main Menu End-->
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="field-name" value="" placeholder="Search Here" required="">
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <!--Donate Btn-->
                        <div class="donate-btn">
                        	<a class="donate theme-btn" href="donate.html">Donate Now</a>
                        </div>
                        
                	</div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="index.html" class="img-responsive"><img src="images/logo-small.png" alt="" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
							<ul class="navigation clearfix">
                                <li class="dropdown"><a href="#">Home</a>
                                    <ul>
                                        <li><a href="index.html">Homepage One</a></li>
                                        <li><a href="index-2.html">Homepage Two</a></li>
                                        <li class="dropdown"><a href="#">Header Styles</a>
                                            <ul>
                                                <li><a href="index.html">Header Style One</a></li>
                                                <li><a href="index-2.html">Header Style Two</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">About</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="team.html">Our Team</a></li>
                                        <li class="dropdown"><a href="#">Events</a>
                                            <ul>
                                                <li><a href="events-grid.html">Events Grid View</a></li>
                                                <li><a href="events-list.html">Events List View</a></li>
                                                <li><a href="events-single.html">Event Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="#">Causes</a>
                                    <ul>
                                        <li><a href="causes-grid.html">Causes Grid View</a></li>
                                        <li><a href="causes-list.html">Causes List View</a></li>
                                        <li><a href="causes-single.html">Cause Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop.html">Shop</a></li>
                                <li class="dropdown"><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Our Blog</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/3.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>Our Causes</h1>
                <ul class="bread-crumb">
                	<li><a href="index.html">Home</a></li>
                    <li>Causes</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Causes Section-->
    <section class="causes-section causes-list-page">
    	<div class="auto-container">
        	
            <!--Causes Block Two-->
            <div class="causes-block-two">
                <div class="inner-box">
                	<div class="row clearfix">
                    	<!--Image Column-->
                    	<div class="image-column col-md-6 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="causes-single.html"><img src="images/resource/causes-7.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-12 col-xs-12">
                            <div class="content">
                                <h3><a href="causes-single.html">Insure Education For Children</a></h3>
                                <div class="text">first charity is help homeless people around the city. Audim medi ocritatem at mei, qui an animal aeterno, viris delicatissimi est no. Detracto maiestatis nec ea, vero eius rationibus ea eam...</div>
                                <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                                    <div class="bar-inner">
                                        <div class="bar" style="width:52%;">
                                            <div class="count-box"><span class="count-text" data-speed="2000" data-stop="52">0</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="causes-info"><strong>Raised</strong> $56,000 / <span class="theme_color">$75,000</span></div>
                                <a href="donate.html" class="theme-btn btn-style-one">Donate Now</a>&ensp; &ensp;<a href="causes-single.html" class="theme-btn btn-style-seven">View Details</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <!--Causes Block Two-->
            <div class="causes-block-two">
                <div class="inner-box">
                	<div class="row clearfix">
                    	<!--Image Column-->
                    	<div class="image-column col-md-6 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="causes-single.html"><img src="images/resource/causes-8.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-12 col-xs-12">
                            <div class="content">
                                <h3><a href="causes-single.html">No Hunger in Gana</a></h3>
                                <div class="text">first charity is help homeless people around the city. Audim medi ocritatem at mei, qui an animal aeterno, viris delicatissimi est no. Detracto maiestatis nec ea, vero eius rationibus ea eam...</div>
                                <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                                    <div class="bar-inner">
                                        <div class="bar" style="width:52%;">
                                            <div class="count-box"><span class="count-text" data-speed="2000" data-stop="52">0</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="causes-info"><strong>Raised</strong> $56,000 / <span class="theme_color">$75,000</span></div>
                                <a href="donate.html" class="theme-btn btn-style-one">Donate Now</a>&ensp; &ensp;<a href="causes-single.html" class="theme-btn btn-style-seven">View Details</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <!--Causes Block Two-->
            <div class="causes-block-two">
                <div class="inner-box">
                	<div class="row clearfix">
                    	<!--Image Column-->
                    	<div class="image-column col-md-6 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="causes-single.html"><img src="images/resource/causes-9.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-12 col-xs-12">
                            <div class="content">
                                <h3><a href="causes-single.html">Clean water for Every People of Africa</a></h3>
                                <div class="text">first charity is help homeless people around the city. Audim medi ocritatem at mei, qui an animal aeterno, viris delicatissimi est no. Detracto maiestatis nec ea, vero eius rationibus ea eam...</div>
                                <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                                    <div class="bar-inner">
                                        <div class="bar" style="width:52%;">
                                            <div class="count-box"><span class="count-text" data-speed="2000" data-stop="52">0</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="causes-info"><strong>Raised</strong> $56,000 / <span class="theme_color">$75,000</span></div>
                                <a href="donate.html" class="theme-btn btn-style-one">Donate Now</a>&ensp; &ensp;<a href="causes-single.html" class="theme-btn btn-style-seven">View Details</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <!--Causes Block Two-->
            <div class="causes-block-two">
                <div class="inner-box">
                	<div class="row clearfix">
                    	<!--Image Column-->
                    	<div class="image-column col-md-6 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="causes-single.html"><img src="images/resource/causes-10.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-12 col-xs-12">
                            <div class="content">
                                <h3><a href="causes-single.html">Provide Work to Homeless</a></h3>
                                <div class="text">first charity is help homeless people around the city. Audim medi ocritatem at mei, qui an animal aeterno, viris delicatissimi est no. Detracto maiestatis nec ea, vero eius rationibus ea eam...</div>
                                <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                                    <div class="bar-inner">
                                        <div class="bar" style="width:52%;">
                                            <div class="count-box"><span class="count-text" data-speed="2000" data-stop="52">0</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="causes-info"><strong>Raised</strong> $56,000 / <span class="theme_color">$75,000</span></div>
                                <a href="donate.html" class="theme-btn btn-style-one">Donate Now</a>&ensp; &ensp;<a href="causes-single.html" class="theme-btn btn-style-seven">View Details</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <!--Causes Block Two-->
            <div class="causes-block-two">
                <div class="inner-box">
                	<div class="row clearfix">
                    	<!--Image Column-->
                    	<div class="image-column col-md-6 col-sm-12 col-xs-12">
                            <div class="image">
                                <a href="causes-single.html"><img src="images/resource/causes-11.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!--Content Column-->
                        <div class="content-column col-md-6 col-sm-12 col-xs-12">
                            <div class="content">
                                <h3><a href="causes-single.html">Clean Water for People of Africa</a></h3>
                                <div class="text">first charity is help homeless people around the city. Audim medi ocritatem at mei, qui an animal aeterno, viris delicatissimi est no. Detracto maiestatis nec ea, vero eius rationibus ea eam...</div>
                                <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                                    <div class="bar-inner">
                                        <div class="bar" style="width:52%;">
                                            <div class="count-box"><span class="count-text" data-speed="2000" data-stop="52">0</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="causes-info"><strong>Raised</strong> $56,000 / <span class="theme_color">$75,000</span></div>
                                <a href="donate.html" class="theme-btn btn-style-one">Donate Now</a>&ensp; &ensp;<a href="causes-single.html" class="theme-btn btn-style-seven">View Details</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
                
            <!-- Styled Pagination -->
            <div class="styled-pagination">
                <ul class="clearfix">
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="next" href="#">Next</a></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Causes Section-->
    
    <!--Call To Action Section-->
    <section class="call-to-action-section" style="background-image:url(images/background/2.jpg);">
    	<div class="auto-container">
        	<h2>Become A Volunteer</h2>
            <div class="text">Join with us and become real human being and make the world  smile !!</div>
            <a href="contact.html" class="theme-btn btn-style-three">Join with US</a>
        </div>
    </section>
    <!--End Call To Action Section-->
    
    <!--Sponsors Section-->
    <section class="sponsors-section style-two">
    	<div class="auto-container">
        	<div class="carousel-outer">
                <!--Sponsors Slider-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></div></li>
                </ul>
            </div>
    	</div>
    </section>
    <!--End Sponsors Section-->
    
    <!--Subscribe Style One-->
    <section class="subscribe-style-one">
    	<div class="auto-container">
        	<div class="row clearfix">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <h2>Sign up for Newsletter</h2>
                    <div class="text">Submit your email and stay in touch by notify our news & update regularly</div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <form method="post" action="contact.html">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Enter your email" required>
                            <button type="submit" class="theme-btn"><span class="icon flaticon-send-message-button"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
	<!--End Subscribe Style One-->
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <div class="auto-container">
            <div class="row clearfix">
            
                <!--big column-->
                <div class="big-column col-md-7 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="logo-box">
                                        <a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <div class="text">Lorem ipsum dolor sit amet, vix an natu tur eleifend, mel amet laorit menandri. Ei item  justo complectitur duo. </div>
                                    <ul class="social-icon-two">
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        <li><a href="#"><span class="fa fa-vimeo"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column / Links Widget-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h2>Quick Links</h2>
                                <div class="widget-content">
                                	<div class="row clearfix">
                                        <ul class="list col-md-7 col-sm-6 col-xs-12">
                                            <li><a href="#">About us </a></li>
                                            <li><a href="#">Recent projects</a></li>
                                            <li><a href="#">Our Mission</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                            <li><a href="#">Privacy & plicy</a></li>
                                        </ul>
                                        <ul class="list col-md-5 col-sm-6 col-xs-12">
                                            <li><a href="#">Help center</a></li>
                                            <li><a href="#">Android App</a></li>
                                            <li><a href="#">Internships</a></li>
                                            <li><a href="#">Press</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--big column-->
                <div class="big-column col-md-5 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    	
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget gallery-widget">
                                <h2>Photo Gallery</h2>
                                <div class="widget-content">
                                    <div class="images-outer clearfix">
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="images/resource/blog-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-1.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="images/resource/causes-10.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-2.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="images/resource/causes-11.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-3.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="images/resource/causes-7.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-4.jpg" alt=""></a></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget address-widget">
                                <h2>Our Address</h2>
                                <div class="widget-content">
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-location-pin"></span>60 Grant Ave. Central New Road 0708, UK</li>
                                        <li><span class="icon flaticon-technology-1"></span>+880 1723 801 729</li>
                                        <li><span class="icon flaticon-e-mail-envelope"></span>Huminityus@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="row clearfix">
                	<div class="col-md-6 col-sm-6 col-xs-12">
                    	<div class="copyright">All Right Researved <a href="#">Huminity</a> &copy; 2017</div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    	<ul class="footer-nav">
                        	<li><a href="#">Home</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQ's</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>




<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/owl.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>

</body>
</html>